body, h1, h2, h3, h4, h5, h6 {
    font-family: "gesta",sans-serif;
    font-style: normal;
    font-weight: 300;
    -webkit-margin-before: 0em;
}
p, div, input {
    font-family: "gesta",sans-serif;
    font-style: normal;
    font-weight: 300;
}
.body {
    padding-top: 10;
}
main {
    min-height: calc(100vh - 176px);
}
.postTitle {
    padding: 0px;
}
.postTitle h3 {
    font-weight: bold;
}
.postContent {
    padding: 20px;
}
.pageTitle {
    padding: 20px;
}
md-grid-list {
    margin: 8px;
}
.mainHeader {
    background: #cdd6dd;
}
.myName {
    font-size: 2em;
}
.myTitle {
    font-size: 1.2em;
}
.contactTitle {
    padding-right: 4em;
}
.applications {
    padding-top: 50px;
    font-size: 1.5em;
    color: #475a70;
}
.portfolio {
    background: #81a4cd;
}
.resume {
    background: #5bc0eb;
}
.itemTitle {
    text-align: center;
}
.itemTitle a{
    color: #000000;
    text-decoration: none;
}
.portfolioItem{
    padding-top: 20px;
    text-align: center;
}
.resumeText a {
    color: #000000;
    text-decoration: none;
}
.contact {
    background: #b7d1da;
    justify-content: space-between;
}
md-grid-tile {
    transition: all 400ms ease-out 50ms;
}
