body, h1, h2, h3, h4, h5, h6 {
    font-family: "gesta",sans-serif;
    font-style: normal;
    font-weight: 300;
    -webkit-margin-before: 0em;
}
p, div, input {
    font-family: "gesta",sans-serif;
    font-style: normal;
    font-weight: 300;
}
.body {
    background-color: #e5e1ee;
    padding-top: 10;
}
main {
  min-height: calc(100vh - 176px);
}
.postTitle {
    padding: 0px;
}
.postTitle h3 {
    font-weight: bold;
}
.postContent {
    padding: 20px;
}
.pageTitle {
    padding: 20px;
}
md-grid-list {
    margin: 8px;
}
.mainHeader {
    background: #cdd6dd;
}
.myName {
    font-size: 2.5em;
}
.myTitle {
    font-size: 1em;
}
.portfolio {
  background: #81a4cd;
}
.resume {
  background: #5bc0eb;
}
.contact {
  background: #b7d1da;
}
md-grid-tile {
  transition: all 400ms ease-out 50ms;
}
.footer{
    background: #cdd6dd;
}
