{% block content %}
<md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px" ng-cloak>

    <md-grid-tile class="mainHeader" md-rowspan="1" md-colspan="3" md-colspan-sm="2" md-colspan-xs="1">
        <div layout-align="center center" flex layout="column">
            <div class="myName">
                <h1>Oswaldo Salazar</h1>
            </div>
            <div class="myTitle">
                <h1>Full Stack Web Developer</h1>
            </div>
        </div>
    </md-grid-tile>

    <md-grid-tile class="portfolio">
        <h1>{[{ view.title }]}</h1>
    </md-grid-tile>

    <md-grid-tile class="resume">
        <h1>Résumé</h1>
    </md-grid-tile>

    <md-grid-tile class="contact">
        <h1>Contact</h1>
    </md-grid-tile>

</md-grid-list>

{% endblock %}
