{% extends "personal/header.html" %}

{% block content %}
    <div class="pageTitle" layout="row" layout-align="start center">
        <h2>Contact Info</h2>
    </div>
    <div class="postContent">
        {% for c in content %}
        <p>{{c}}</p>
        {% endfor %}
    </div>

    <div class="pageTitle" layout="row" layout-align="start center">
        <h2><a  target="_blank" href="https://docs.google.com/document/d/1RtcJr5Dj_w3vTkRFrkWfiSVkmw8jCmy08p-XJ8uAIHo/edit">Resume</a></h2>
    </div>


{% endblock %}
